<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-sdk tools:overrideLibrary="io.sentry.android" />

    <application
        android:name=".MindGuruApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindGuru" >

        <service
            android:name=".utils.NotificationWorker"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver android:name=".utils.MoodLogReceiver" />
        <service
            android:name=".components.VoiceChatService"
            android:foregroundServiceType="microphone"
            android:exported="false"
            android:enabled="true"
            android:stopWithTask="true">
        </service>

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboard|orientation|locale|fontScale|screenLayout|screenSize|uiMode|navigation|touchscreen|keyboardHidden|layoutDirection|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MindGuru"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Required: set your sentry.io project identifier (DSN) -->

        <!-- enable debug mode, it's disabled by default -->
        <meta-data android:name="io.sentry.auto-init" android:value="false" />
        <meta-data android:name="io.sentry.debug" android:value="false" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://e72b6fac681108faff6820c6025b9261@o4507735383212032.ingest.us.sentry.io/4507735387602944" /> <!-- enable automatic breadcrumbs for user interactions (clicks, swipes, scrolls) -->
        <!-- it's 30s by default, making it 5s for testing -->
        <meta-data android:name="io.sentry.session-tracking.timeout-interval-millis" android:value="10000" />

        <!-- Required: set your sentry.io project identifier (DSN) -->
        <meta-data android:name="io.sentry.anr.enable" android:value="true" />
        <!-- enable automatic breadcrumbs for user interactions (clicks, swipes, scrolls) -->
        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />
        <!-- enable screenshot for crashes -->
        <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />
        <!-- enable view hierarchy for crashes -->
        <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true" />
        <!-- enable the performance API by setting a sample-rate, adjust in production env -->
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
        <!-- enable profiling when starting transactions, adjust in production env -->
        <meta-data android:name="io.sentry.traces.profiling.sample-rate" android:value="1.0" />

    </application>

</manifest>